.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Footer {
  padding: 40px 0 50px;
  background-color: #14181c;
  color: #ffffff; }
  .Footer-Laptop {
    display: none;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .Footer-Laptop {
        display: flex; } }
  .Footer-Title {
    text-transform: uppercase;
    margin: 0;
    font-size: 15px; }
  .Footer-List {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 0; }
    .Footer-ListSocial {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .Footer-ListSocial li {
        margin: 0 3px; }
  .Footer-Link {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px; }
  .Footer-Mobile {
    display: block; }
    @media (min-width: 768px) {
      .Footer-Mobile {
        display: none; } }
    .Footer-MobileMainTitle {
      text-transform: uppercase;
      text-align: center;
      margin: 0; }
    .Footer-Mobile #Hr {
      width: 100px;
      background-color: #a5abb7;
      height: 1px; }
    .Footer-MobileWrapp {
      display: flex;
      justify-content: space-between;
      margin-top: 30px; }
    .Footer-MobileLeft {
      text-align: left; }
    .Footer-MobileTitle {
      text-transform: uppercase;
      margin: 0;
      color: #a5abb7; }
    .Footer-Mobile span {
      margin: 10px 0 25px;
      display: block; }
    .Footer-MobileList {
      list-style: none;
      padding: 0; }
      .Footer-MobileListLink {
        text-decoration: none;
        color: #ffffff;
        line-height: 24px; }
    .Footer-MobileRight {
      text-align: right; }
  .Footer-MobileListSocial {
    list-style: none;
    display: flex;
    width: 170px;
    margin: 25px auto 0;
    padding: 0; }
    .Footer-MobileListSocial li {
      margin: 0 5px; }
    @media (min-width: 768px) {
      .Footer-MobileListSocial {
        display: none; } }
