@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.Footer {
  padding: 40px 0 50px;
  background-color: $black;
  color: $white;


  &-Laptop {
    display: none;
    justify-content: space-between;

    @include md {
      display: flex;
    }
  }

  &-Title {
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
  }

  &-List {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 0;

    &Social {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin: 0 3px;
      }
    }
  }

  &-Link {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
  }

  &-ItemWrappSocial {

  }

  &-Mobile {
    display: block;

    @include md {
      display: none;
    }

    &MainTitle {
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }

    #Hr {
      width: 100px;
      background-color: $lightGray;
      height: 1px;
    }

    &Wrapp {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
    
    &Left {
      text-align: left;
    }

    &Title {
      text-transform: uppercase;
      margin: 0;
      color: $lightGray;
    }

    span {
      margin: 10px 0 25px;
      display: block;
    }

    &List {
      list-style: none;
      padding: 0;

      &Link {
        text-decoration: none;
        color: $white;
        line-height: 24px;
      }
    }

    &Right {
      text-align: right;
    }

  }

  &-MobileListSocial {
    list-style: none;
    display: flex;
    width: 170px;
    margin: 25px auto 0;
    padding: 0;

    li {
      margin: 0 5px;
    }

    @include md {
      display: none;
    }
  }



}