@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.SelfDrive {
  padding: 65px 0 60px;
  background-color: $blue;
  text-align: center;
  color: $white;

  &-Title {
    text-transform: uppercase;
    margin: 0;
  }

  &-Description {
    text-transform: uppercase;
    margin: 25px auto 0;
    font-size: 14px;
  }

  &-ContentFlex {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include md {
      flex-direction: row;
      margin-top: 25px;
    }
  }

  &-Item {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;

    @include md {
      display: block;
      max-width: 340px;
      width: 100%;
    }
  }

  &-ItemTitle {
    text-transform: uppercase;
  }

  &-ItemWrap {
    text-align: left;
    max-width: 320px;
    margin-left: 20px;

    @include md {
      text-align: inherit;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &-Button {
    display: block;
    margin: 75px auto 0;
    text-transform: uppercase;
    border: 1px solid $white;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    box-sizing: border-box;
    color: $white;
    text-decoration: none;
    font-size: 12px;
  }
}