.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.SelfDrive {
  padding: 65px 0 60px;
  background-color: #2864a0;
  text-align: center;
  color: #ffffff; }
  .SelfDrive-Title {
    text-transform: uppercase;
    margin: 0; }
  .SelfDrive-Description {
    text-transform: uppercase;
    margin: 25px auto 0;
    font-size: 14px; }
  .SelfDrive-ContentFlex {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    @media (min-width: 768px) {
      .SelfDrive-ContentFlex {
        flex-direction: row;
        margin-top: 25px; } }
  .SelfDrive-Item {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly; }
    @media (min-width: 768px) {
      .SelfDrive-Item {
        display: block;
        max-width: 340px;
        width: 100%; } }
  .SelfDrive-ItemTitle {
    text-transform: uppercase; }
  .SelfDrive-ItemWrap {
    text-align: left;
    max-width: 320px;
    margin-left: 20px; }
    @media (min-width: 768px) {
      .SelfDrive-ItemWrap {
        text-align: inherit;
        margin-left: 0;
        max-width: 100%; } }
  .SelfDrive-Button {
    display: block;
    margin: 75px auto 0;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
