@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';



.TwoImages {
  padding: 60px 0 80px;

  .Container {
    margin: 0 auto;
    padding: 0;

    @include md {
      width: 750px;
      padding: 0 15px;
    }

    @include lg {
      width: 970px;
    }

    @include xl {
      width: 1170px;
    }
  }

  &-Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }
  }

  &-Wrapp {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;

    @include csm {
      text-align: center;
    }

    @include lg {
      max-width: 555px;
    }

    &:nth-child(1) {
      margin-bottom: 20px;

      @include md {
        margin-bottom: 0;
      }
    }
  }

  &-Img {
    height: auto;
    max-width: 100%;
  }

  &-Info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
  }

  &-Title {
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;

    @include md {
      font-size: 27px;
    }

    @include lg {
      font-size: 35px;
    }
  }

  &-Description {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 13px;

    @include md {
      font-size: 15px;
      margin-bottom: 40px;
    }
  }

  &-Button {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $white;
    text-decoration: none;
    font-size: 12px;
  }
}