.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.TwoImages {
  padding: 60px 0 80px; }
  .TwoImages .Container {
    margin: 0 auto;
    padding: 0; }
    @media (min-width: 768px) {
      .TwoImages .Container {
        width: 750px;
        padding: 0 15px; } }
    @media (min-width: 992px) {
      .TwoImages .Container {
        width: 970px; } }
    @media (min-width: 1200px) {
      .TwoImages .Container {
        width: 1170px; } }
  .TwoImages-Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    @media (min-width: 768px) {
      .TwoImages-Container {
        flex-direction: row; } }
  .TwoImages-Wrapp {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center; }
    @media (min-width: 586px) {
      .TwoImages-Wrapp {
        text-align: center; } }
    @media (min-width: 992px) {
      .TwoImages-Wrapp {
        max-width: 555px; } }
    .TwoImages-Wrapp:nth-child(1) {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .TwoImages-Wrapp:nth-child(1) {
          margin-bottom: 0; } }
  .TwoImages-Img {
    height: auto;
    max-width: 100%; }
  .TwoImages-Info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff; }
  .TwoImages-Title {
    text-transform: uppercase;
    font-size: 17px;
    margin: 0; }
    @media (min-width: 768px) {
      .TwoImages-Title {
        font-size: 27px; } }
    @media (min-width: 992px) {
      .TwoImages-Title {
        font-size: 35px; } }
  .TwoImages-Description {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 13px; }
    @media (min-width: 768px) {
      .TwoImages-Description {
        font-size: 15px;
        margin-bottom: 40px; } }
  .TwoImages-Button {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
