@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.Chauffer {
  padding: 50px 0 40px;
  text-align: center;

  @include md {
    padding: 80px 0 60px;
  }

  &-Title {
    text-transform: uppercase;
    margin: 0;
  }

  &-Description {
    text-transform: uppercase;
    color: $lightGray;
    margin: 20px 0 0;
  }

  &-Round{
    text-transform: uppercase;
    color: $white;
    font-size: 20px;
    background-color: $blue;
    max-width: 170px;
    border-radius: 50%;
    border: 5px solid $white;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 184px;
      height: 184px;
      border-radius: 50%;
      border: 1px solid $blue;
      top: -8px;
      left: -8px;
    }
  }

  &-SecondDescription {
    margin-top: 20px;
    margin-bottom: 0;
    color: $lightGray;
  }

  &-Button {
    display: block;
    margin: 55px auto 0;
    text-transform: uppercase;
    border: 1px solid $blue;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $blue;
    text-decoration: none;
    font-size: 12px;
  }

  &-Img {
    height: auto;
    max-width: 100%;
    display: none;

    @include md {
      display: block;
    }
  }
}