.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Chauffer {
  padding: 50px 0 40px;
  text-align: center; }
  @media (min-width: 768px) {
    .Chauffer {
      padding: 80px 0 60px; } }
  .Chauffer-Title {
    text-transform: uppercase;
    margin: 0; }
  .Chauffer-Description {
    text-transform: uppercase;
    color: #a5abb7;
    margin: 20px 0 0; }
  .Chauffer-Round {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    background-color: #2864a0;
    max-width: 170px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    position: relative; }
    .Chauffer-Round::after {
      content: '';
      position: absolute;
      width: 184px;
      height: 184px;
      border-radius: 50%;
      border: 1px solid #2864a0;
      top: -8px;
      left: -8px; }
  .Chauffer-SecondDescription {
    margin-top: 20px;
    margin-bottom: 0;
    color: #a5abb7; }
  .Chauffer-Button {
    display: block;
    margin: 55px auto 0;
    text-transform: uppercase;
    border: 1px solid #2864a0;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #2864a0;
    text-decoration: none;
    font-size: 12px; }
  .Chauffer-Img {
    height: auto;
    max-width: 100%;
    display: none; }
    @media (min-width: 768px) {
      .Chauffer-Img {
        display: block; } }
