.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Quotes {
  padding: 80px 0 25px; }
  .Quotes-Wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .Quotes-Avatar {
    display: none; }
    @media (min-width: 992px) {
      .Quotes-Avatar {
        display: block; } }
  @media (min-width: 992px) {
    .Quotes-Content {
      padding-left: 70px; } }
  .Quotes-Text {
    font-size: 27px;
    color: #a5abb7; }
  .Quotes-Signature {
    color: #a5abb7;
    font-size: 22px;
    display: flex;
    align-items: center; }
    @media (min-width: 992px) {
      .Quotes-Signature {
        display: block; } }
    .Quotes-SignatureBold {
      font-weight: bold; }
  .Quotes-SignatureWrapp {
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .Quotes-SignatureWrapp {
        display: block; } }
  .Quotes-AvatarSmall {
    display: block;
    height: auto;
    max-width: 100%;
    margin-right: 25px; }
    @media (min-width: 992px) {
      .Quotes-AvatarSmall {
        display: none; } }
  .Quotes-StarsWrapp {
    margin-top: 50px; }
    @media (min-width: 992px) {
      .Quotes-StarsWrapp {
        margin-top: 0; } }
    .Quotes-StarsWrappFlex {
      display: flex;
      max-width: 180px;
      margin: 0 0 0 auto;
      align-items: center; }
      @media (min-width: 992px) {
        .Quotes-StarsWrappFlex {
          margin: 0 50px 0 auto; } }
  .Quotes-StarCount {
    background-color: #2864a0;
    color: #ffffff;
    border-radius: 5px;
    padding: 9px 33px 9px 11px;
    background-image: url(img/star.png);
    background-repeat: no-repeat;
    background-position: 40px 50%; }
  .Quotes-StarOtherInfo {
    font-size: 15px;
    margin-left: 7px;
    color: #a5abb7; }
    .Quotes-StarOtherInfo span {
      display: block; }
