@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}


.Quotes {
  padding: 80px 0 25px;

  &-Wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Avatar {
    display: none;

    @include lg {
      display: block;
    }
  }

  &-Content {

    @include lg {
      padding-left: 70px;
    }
  }

  &-Text {
    font-size: 27px;
    color: $lightGray;
  }

  &-Signature {
    color: $lightGray;
    font-size: 22px;
    display: flex;
    align-items: center;

    @include lg {
      display: block;
    }

    &Bold {
      font-weight: bold;
    }
  }

  &-SignatureWrapp {
    display: flex;
    flex-direction: column;

    @include lg {
      display: block;
    }
  }

  &-AvatarSmall {
    display: block;
    height: auto;
    max-width: 100%;
    margin-right: 25px;

    @include lg {
      display: none;
    }
  }

  &-StarsWrapp {
    margin-top: 50px;

    @include lg {
      margin-top: 0;
    }

    &Flex {
      display: flex;
      max-width: 180px;
      margin: 0 0 0 auto;
      align-items: center;

      @include lg {
        margin: 0 50px 0 auto;
      }
    }
  }

  &-StarCount {
    background-color: $blue;
    color: $white;
    border-radius: 5px;
    padding: 9px 33px 9px 11px;
    background-image: url(img/star.png);
    background-repeat: no-repeat;
    background-position: 40px 50%;
  }

  &-StarOtherInfo {
    font-size: 15px;
    margin-left: 7px;
    color: $lightGray;

    span {
      display: block;
    }
  }
}