.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Promoted {
  text-align: center;
  padding: 65px 0 60px; }
  @media (min-width: 992px) {
    .Promoted {
      padding: 65px 0 60px; } }
  .Promoted-Title {
    text-transform: uppercase;
    color: #333333;
    margin: 0; }
  .Promoted-Description {
    text-transform: uppercase;
    color: #a5abb7;
    margin: 25px 0; }
  .Promoted-SliderWrapp {
    margin-top: 45px;
    display: flex;
    justify-content: space-between; }
  .Promoted-Slide {
    position: relative;
    color: #ffffff; }
    .Promoted-Slide:nth-child(2) {
      margin: 0 25px; }
  .Promoted-CarLogo {
    max-width: 100%;
    height: auto; }
  .Promoted-Discount {
    position: absolute;
    top: 12px;
    right: -1px;
    background-color: #2864a0;
    border: 1px solid #ffffff;
    border-radius: 5px 0 0 5px;
    text-transform: uppercase;
    padding: 2px 8px;
    font-size: 13px;
    letter-spacing: .2px; }
    .Promoted-Discount span {
      display: block; }
  .Promoted-DiscountPercent {
    text-align: right; }
  .Promoted-About {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .Promoted-CarName {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px; }
    .Promoted-CarName span {
      font-size: 9px;
      font-weight: normal; }
  .Promoted-PriceWrapp {
    display: flex;
    flex-direction: column; }
  .Promoted-Price {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 23px; }
  .Promoted-Sup {
    text-transform: none;
    font-size: 10px;
    font-weight: normal; }
  .Promoted-PerDay {
    text-align: right;
    font-size: 10px; }
