@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}


.Promoted {
  text-align: center;
  padding: 65px 0 60px;

  @include lg {
    padding: 65px 0 60px;
  }

  &-Title {
    text-transform: uppercase;
    color: $dark;
    margin: 0;
  }

  &-Description {
    text-transform: uppercase;
    color: $lightGray;
    margin: 25px 0;
  }

  &-SliderWrapp {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
  }

  &-Slide {
    position: relative;
    color: $white;

    &:nth-child(2) {
      margin: 0 25px;
    }
  }

  &-CarLogo {
    max-width: 100%;
    height: auto;
  }

  &-Discount {
    position: absolute;
    top: 12px;
    right: -1px;
    background-color: $blue;
    border: 1px solid $white;
    border-radius: 5px 0 0 5px;
    text-transform: uppercase;
    padding: 2px 8px;
    font-size: 13px;
    letter-spacing: .2px;

    span {
      display: block;
    }
  }

  &-DiscountPercent {
    text-align: right;
  }


  &-About {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-CarName {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

    span {
      font-size: 9px;
      font-weight: normal;
    }
  }

  &-PriceWrapp {
    display: flex;
    flex-direction: column;
  }

  &-Price {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 23px;
  }

  &-Sup {
    text-transform: none;
    font-size: 10px;
    font-weight: normal;
  }

  &-PerDay {
    text-align: right;
    font-size: 10px;
  }
}