.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Copyright {
  height: 60px;
  text-align: center;
  color: #a5abb7; }
  @media (min-width: 768px) {
    .Copyright {
      height: 80px; } }
  .Copyright-Description {
    line-height: 60px;
    margin-top: 0; }
    @media (min-width: 768px) {
      .Copyright-Description {
        line-height: 80px; } }
