@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.Copyright {
  height: 60px;
  text-align: center;
  color: $lightGray;

  @include md {
    height: 80px;
  }

  &-Description {
    line-height: 60px;
    margin-top: 0;

    @include md {
      line-height: 80px;
    }
  }
}