@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';


.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.TopSection {
  background-image: url(img/road-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 110px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @include md {
    padding: 295px 0 0;
  }

  &-Container {

    &_flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &-Title {
    font-weight: normal;
    color: $white;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 20px;

    @include lg {
      font-size: 50px;
      margin: 0 0;
    }
  }

  &-Description {
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .5px;
    margin: 25px 0 0;
  }

  &-Form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
    flex-wrap: wrap;
    max-width: 80%;
    align-items: center;
    padding: 15px;
    background-color: $white;

    @include md {
      max-width: 80%;
    }

    @include lg {
      flex-wrap: nowrap;
      max-width: 100%;
      background-color: transparent;
      padding: 0;
    }

    input {
      display: block;
      width: 100%;
      height: 37px;
      box-sizing: border-box;
      padding: 0 40px 0 33px;

      @include lg {
        width: 270px;
      }

      &:nth-child(2), &:nth-child(3) {
        width: 50%;

        @include lg {
          width: auto;
        }

        @include xl {
          width: 270px;
        }
      }
    }
  }

  &-Location {
    background-image: url(img/location.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px;
    border: solid $light;
    border-width: 0 0 1px 0;

    @include md {
      background-size: 3%;
    }

    @include lg {
      background-size: 7%;
      border: none;
    }
  }

  &-DateFrom {
    background-image: url(img/calendar.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 17px;
    border: solid $light;
    border-width: 0 1px 1px 0;

    @include lg {
      background-size: 7%;
      border: none;
    }
  }

  &-DateTo {
    background-image: url(img/calendar.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    border: solid $light;
    border-width: 0 0 1px 0;

    @include lg {
      background-size: 7%;
      border: none;
    }
  }

  &-Search {
    display: block;
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 0;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    margin-top: 15px;

    @include lg {
      width: 270px;
      margin-top: 0;
    }

    @include xl {
      border-radius: 4px;
    }
  }

}