.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.TopSection {
  background-image: url(img/road-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 110px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .TopSection {
      padding: 295px 0 0; } }
  .TopSection-Container_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .TopSection-Title {
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .TopSection-Title {
        font-size: 50px;
        margin: 0 0; } }
  .TopSection-Description {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .5px;
    margin: 25px 0 0; }
  .TopSection-Form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
    flex-wrap: wrap;
    max-width: 80%;
    align-items: center;
    padding: 15px;
    background-color: #ffffff; }
    @media (min-width: 768px) {
      .TopSection-Form {
        max-width: 80%; } }
    @media (min-width: 992px) {
      .TopSection-Form {
        flex-wrap: nowrap;
        max-width: 100%;
        background-color: transparent;
        padding: 0; } }
    .TopSection-Form input {
      display: block;
      width: 100%;
      height: 37px;
      box-sizing: border-box;
      padding: 0 40px 0 33px; }
      @media (min-width: 992px) {
        .TopSection-Form input {
          width: 270px; } }
      .TopSection-Form input:nth-child(2), .TopSection-Form input:nth-child(3) {
        width: 50%; }
        @media (min-width: 992px) {
          .TopSection-Form input:nth-child(2), .TopSection-Form input:nth-child(3) {
            width: auto; } }
        @media (min-width: 1200px) {
          .TopSection-Form input:nth-child(2), .TopSection-Form input:nth-child(3) {
            width: 270px; } }
  .TopSection-Location {
    background-image: url(img/location.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 15px;
    border: solid #dce0e0;
    border-width: 0 0 1px 0; }
    @media (min-width: 768px) {
      .TopSection-Location {
        background-size: 3%; } }
    @media (min-width: 992px) {
      .TopSection-Location {
        background-size: 7%;
        border: none; } }
  .TopSection-DateFrom {
    background-image: url(img/calendar.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 17px;
    border: solid #dce0e0;
    border-width: 0 1px 1px 0; }
    @media (min-width: 992px) {
      .TopSection-DateFrom {
        background-size: 7%;
        border: none; } }
  .TopSection-DateTo {
    background-image: url(img/calendar.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    border: solid #dce0e0;
    border-width: 0 0 1px 0; }
    @media (min-width: 992px) {
      .TopSection-DateTo {
        background-size: 7%;
        border: none; } }
  .TopSection-Search {
    display: block;
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 0;
    background-color: #2864a0;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 15px; }
    @media (min-width: 992px) {
      .TopSection-Search {
        width: 270px;
        margin-top: 0; } }
    @media (min-width: 1200px) {
      .TopSection-Search {
        border-radius: 4px; } }
