.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100; }
  .Header-Container_flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .Header-LeftContainer {
    display: flex;
    align-items: center; }
    @media (min-width: 768px) {
      .Header-LeftContainer {
        display: block; } }
  .Header-Burger {
    margin-right: 15px;
    cursor: pointer; }
    @media (min-width: 768px) {
      .Header-Burger {
        display: none; } }
    .Header-Burger-Span {
      display: block;
      width: 20px;
      height: 1px;
      background-color: #ffffff;
      margin: 3px 0; }
  .Header-Img {
    display: none;
    width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      .Header-Img {
        display: block; } }
  @media (min-width: 768px) {
    .Header-ImgMin {
      display: none; } }
  .Header-Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;
    top: 61px;
    background-color: rgba(0, 0, 0, 0.5);
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: hidden; }
    @media (min-width: 768px) {
      .Header-Menu {
        flex-direction: row;
        position: static;
        background-color: transparent;
        visibility: visible; } }
    .Header-Menu-Link {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      color: #ffffff;
      line-height: 88px;
      margin: 0 7px;
      transition: all .3s; }
      .Header-Menu-Link:hover {
        border-bottom: 2px solid #f47e23; }
      @media (min-width: 992px) {
        .Header-Menu-Link {
          margin: 0 15px; } }
  .Header-RightContainer {
    display: flex; }
    @media (min-width: 768px) {
      .Header-RightContainer {
        display: none; } }
  .Header-Button {
    display: block;
    border: none;
    background-color: #f47e23;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 3px;
    margin-right: 13px;
    padding: 0 17px; }
    @media (min-width: 768px) {
      .Header-Button {
        display: none; } }
  @media (min-width: 768px) {
    .Header-UserLink {
      display: none; } }
