@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}


.Header {
  text-align: center;
  background-color: $header-bg;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;

  &-Container {

    &_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-LeftContainer {
    display: flex;
    align-items: center;

    @include md {
      display: block;
    }
  }

  &-Burger {
    margin-right: 15px;
    cursor: pointer;

    @include md {
      display: none;
    }

    &-Span {
      display: block;
      width: 20px;
      height: 1px;
      background-color: $white;
      margin: 3px 0;
    }
  }

  &-Img {
    display: none;
    width: 100%;
    height: auto;

    @include md {
      display: block;
    }
  }

  &-ImgMin {

    @include md {
      display: none;
    }
  }

  &-Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;
    top: 61px;
    background-color: $header-bg;
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: hidden;

    @include md {
      flex-direction: row;
      position: static;
      background-color: transparent;
      visibility: visible;
    }

    &-Item {

    }

    &-Link {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      color: $white;
      line-height: 88px;
      margin: 0 7px;
      transition: all .3s;

      &:hover {
        border-bottom: 2px solid $orange;
      }

      @include lg {
        margin: 0 15px;
      }
    }
  }

  &-RightContainer {
    display: flex;

    @include md {
      display: none;
    }
  }

  &-Button {
    display: block;
    border: none;
    background-color: $orange;
    color: $white;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 3px;
    margin-right: 13px;
    padding: 0 17px;



    @include md {
      display: none;
    }
  }

  &-UserLink {

    @include md {
      display: none;
    }
  }


}
