@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.RentMyCar {
  background-image: url(img/tunel.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: $white;
  background-position: center;
  height: 400px;

  &-Container {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  &-Title {
    text-transform: uppercase;
    font-size: 19px;
    margin: 0;

    @include md {
      font-size: 32px;
    }
  }

  &-Description {
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 14px;
  }

  &-Button {
    display: block;
    margin: 40px auto 0;
    text-transform: uppercase;
    border: 1px solid $white;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $white;
    text-decoration: none;
    font-size: 12px;
  }
}