.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.RentMyCar {
  background-image: url(img/tunel.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  background-position: center;
  height: 400px; }
  .RentMyCar-Container {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column; }
  .RentMyCar-Title {
    text-transform: uppercase;
    font-size: 19px;
    margin: 0; }
    @media (min-width: 768px) {
      .RentMyCar-Title {
        font-size: 32px; } }
  .RentMyCar-Description {
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 14px; }
  .RentMyCar-Button {
    display: block;
    margin: 40px auto 0;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    line-height: 28px;
    border-radius: 3px;
    max-width: 120px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px; }
