.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }
