@import '../../../../mediaqueries.scss';
@import '../../../../colors.scss';

.Container {
  margin: 0 auto;
  padding: 0 15px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1170px;
  }
}

.Partners {
  padding: 55px 0 60px;

  &-Title {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  &-ImgWrapp {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &-Img {
    min-width: 130px;
    height: auto;

    @include md {
      max-width: 100%;
    }

    &:nth-child(3), &:last-child {
      display: none;

      @include md {
        display: block;
      }
    }
  }
}