.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .Container {
      width: 750px; } }
  @media (min-width: 992px) {
    .Container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .Container {
      width: 1170px; } }

.Partners {
  padding: 55px 0 60px; }
  .Partners-Title {
    text-transform: uppercase;
    text-align: center;
    margin: 0; }
  .Partners-ImgWrapp {
    margin-top: 40px;
    display: flex;
    justify-content: space-between; }
  .Partners-Img {
    min-width: 130px;
    height: auto; }
    @media (min-width: 768px) {
      .Partners-Img {
        max-width: 100%; } }
    .Partners-Img:nth-child(3), .Partners-Img:last-child {
      display: none; }
      @media (min-width: 768px) {
        .Partners-Img:nth-child(3), .Partners-Img:last-child {
          display: block; } }
